/* app css stylesheet */

.angular-leaflet-map {
    width: 100%;
    max-height: 100%;
}
#map{
  margin: 0;
}

.navbar{
  border-radius: 0;
}
.navbar-fixed-top{
  position: relative;
}

#wrapper-barra-brasil{
  height: 29px !important;
}

#selectMap {
	margin: 5% 0 0 20%;
}

th, td {
	padding: 0.5em;	position: relative;
}

#prodes, #deter  {
  margin: -91px 17em;
}

.google-visualization-table-td {
  text-align: center !important;
}