<div ng-controller="cruzamentoCtrl">
  <figure class="quick quick-btn" id="selectMap">
    <img  id="{{ufs.name}}" href="#" class="item "
         ng-repeat="ufs in ufs" ng-src="{{ufs.image}}"
         value="{{ufs.name}}" ng-click='getValueClass(this)' ng-class="changeClass(this)" style="width:88px; height:90px;">
  </figure>
    <form id="painel" class="charts-content row container panel panel-default" role="form" >

      <div class="form-group col-md-2 col-xs-12">
        <select class="form-control" id="taxa" ng-model="taxa" ng-options="taxa for taxa in taxas" ng-change="changeThis(taxa)" ><option  id="label" value="" default selected>Tipo de Detecção</option></select>
      </div>
      <div class="form-group col-md-2 col-xs-12">
        <input  ng-if="Deter == 'true'" placeholder="Data Inicial" class="form-control"  calendar ng-model='$parent.inicio' />
        <select ng-if="Deter == 'false'" class="form-control" id="inicio"  ng-options="ano for ano in anos" ng-model='$parent.inicio'><option  id="label" value="" default selected>Data Inicial</option></select>
      </div>
      <div class="form-group col-md-2 col-xs-12">
        <input  ng-if="Deter == 'true'" placeholder="Data Final" class="form-control"  calendar ng-model='$parent.fim' />
        <select ng-if="Deter == 'false'" class="form-control" id="fim"  ng-options="ano for ano in anos" ng-model='$parent.fim'><option  id="label" value="" default selected>Data Final</option></select>
      </div> 
      <div class="form-group col-md-2 col-xs-12">
        <select class="form-control" id="estagio" ng-model="estagio" ng-options="estagio.value as estagio.name for estagio in estagios" ><option  id="label" value="" default selected>Estagio da Alteração</option></select>
      </div>
      <div class="form-group col-md-2 col-xs-12">
        <select class="form-control" id="shape" ng-model="shape" ng-options="shape.value as shape.name for shape in shapes" ng-change="hideState(shape)"><option  id="label" value="" default selected>Áreas de Comparação</option></select>
      </div>
      <div class="form-group col-md-2 col-xs-12">
        <select class="form-control" ng-model="dominio" ng-options="dominio for dominio in dominios" ><option  id="label" value="" default selected>Domínio</option></select>
      </div>
      <div  class="form-group col-md-12 col-xs-12">
        <button  type="submit" class="btn btn-primary" ng-click="cruzamento()"><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> Cruzamento</button>
      </div>
  <form>
</div>

<div ng-controller="chartsCtrl" ng-show="chart1!=null || load=='true'">
  <div style="display:inline-block;">
    <div style="{{divStyle}}">
      <div class="box-header" style="height:2.9em; border-bottom:2px solid #DDDDDD;">
        <h2>{{chart1.title}}</h2>
        <div class="btn-group chart-icon btn-right">
<!--           <button id="chart2-btn-table" class="btn" title="Tabela de Dados">
            <i class="glyphicon glyphicon-list-alt"></i>
          </button> -->
          <button id="chart2-btn-export" class="btn" title="Exportar Dados">
            <i class="glyphicon glyphicon-download-alt"></i>
          </button>
          <button id="chart2-btn-minimize" class="btn" title="Esconder/Mostrar Gráfico">
            <i class="glyphicon glyphicon-chevron-up"></i>
          </button>
          <button id="chart2-btn-maximize" class="btn" title="Ativar/Desativar Tela Cheia">
            <i class="glyphicon glyphicon-resize-full"></i>
          </button>
        </div>
        <div class="chart-icon btn-right" style="display:inline-block;margin-right:10px;">
          <select ng-model="graph" ng-change="changeGraph(graph)" ng-options="graph for graph in graphs"></select>
        </div>
      </div>
      <div ng-if="load == 'false'" google-chart chart="chart1" style="{{chart1.cssStyle}}"/></div>
      <div ng-if="load == 'true'" style="height:210px; width:679px;display:inline-block; margin:0px 10px 0px 10px; text-align:center;"/>
        <img src="img/spinner.gif"> Por favor, aguarde.
      </div>
    </div>
    <div style="{{divStyle}}">
      <div class="box-header" style="height:2.9em; border-bottom:2px solid #DDDDDD;">
        <h2>{{chart2.title}}</h2>
        <div class="btn-group chart-icon btn-right">
          <button id="chart2-btn-table" class="btn" title="Tabela de Dados">
            <i class="glyphicon glyphicon-list-alt"></i>
          </button>
          <button id="chart2-btn-export" class="btn" title="Exportar Dados">
            <i class="glyphicon glyphicon-download-alt"></i>
          </button>
          <button id="chart2-btn-minimize" class="btn" title="Esconder/Mostrar Gráfico">
            <i class="glyphicon glyphicon-chevron-up"></i>
          </button>
          <button id="chart2-btn-maximize" class="btn" title="Ativar/Desativar Tela Cheia">
            <i class="glyphicon glyphicon-resize-full"></i>
        </div>
      </div>
      <div ng-if="load == 'false'" google-chart chart="chart2" style="{{chart2.cssStyle}}"/></div>
      <div ng-if="load == 'true'" style="height:210px; width:679px;display:inline-block; margin:0px 10px 0px 10px; text-align:center;"/>
        <img src="img/spinner.gif"> Por favor, aguarde.
      </div>
    </div>
    <div style="{{divStyle}}">
      <div class="box-header" style="height:2.9em; border-bottom:2px solid #DDDDDD;">
        <h2>{{chart3.title}}</h2>
        <div class="btn-group chart-icon btn-right">
<!--           <button id="chart2-btn-table" class="btn" title="Tabela de Dados">
            <i class="glyphicon glyphicon-list-alt"></i>
          </button> -->
          <button id="chart2-btn-export" class="btn" title="Exportar Dados">
            <i class="glyphicon glyphicon-download-alt"></i>
          </button>
          <button id="chart2-btn-minimize" class="btn" title="Esconder/Mostrar Gráfico">
            <i class="glyphicon glyphicon-chevron-up"></i>
          </button>
          <button id="chart2-btn-maximize" class="btn" title="Ativar/Desativar Tela Cheia">
            <i class="glyphicon glyphicon-resize-full"></i>
        </div>
      </div>
      <div ng-if="load == 'false'" google-chart chart="chart3" style="{{chart3.cssStyle}}"/></div>
      <div ng-if="load == 'true'" style="height:210px; width:679px;display:inline-block; margin:0px 10px 0px 10px; text-align:center;"/>
        <img src="img/spinner.gif"> Por favor, aguarde.
      </div>
    </div>
    <div style="{{divStyle}}">
      <div class="box-header" style="height:2.9em; border-bottom:2px solid #DDDDDD;">
        <h2>{{chart4.title}}</h2>
        <div class="btn-group chart-icon btn-right">
<!--           <button id="chart2-btn-table" class="btn" title="Tabela de Dados">
            <i class="glyphicon glyphicon-list-alt"></i>
          </button> -->
          <button id="chart2-btn-export" class="btn" title="Exportar Dados">
            <i class="glyphicon glyphicon-download-alt"></i>
          </button>
          <button id="chart2-btn-minimize" class="btn" title="Esconder/Mostrar Gráfico">
            <i class="glyphicon glyphicon-chevron-up"></i>
          </button>
          <button id="chart2-btn-maximize" class="btn" title="Ativar/Desativar Tela Cheia">
            <i class="glyphicon glyphicon-resize-full"></i>
        </div>
      </div>
      <div ng-if="load == 'false'" google-chart chart="chart4" style="{{chart4.cssStyle}}"/></div>
      <div ng-if="load == 'true'" style="height:210px; width:679px;display:inline-block; margin:0px 10px 0px 10px; text-align:center;"/>
        <img src="img/spinner.gif"> Por favor, aguarde.
      </div>
    </div>
<!--     <div style="{{divStyle}}">
      <div class="box-header" style="height:2.9em; border-bottom:2px solid #DDDDDD;">
        <h2>{{chart5.title}}</h2>
        <div class="btn-group chart-icon btn-right">
          <button id="chart2-btn-table" class="btn" title="Tabela de Dados">
            <i class="glyphicon glyphicon-list-alt"></i>
          </button>
          <button id="chart2-btn-export" class="btn" title="Exportar Dados">
            <i class="glyphicon glyphicon-download-alt"></i>
          </button>
          <button id="chart2-btn-minimize" class="btn" title="Esconder/Mostrar Gráfico">
            <i class="glyphicon glyphicon-chevron-up"></i>
          </button>
          <button id="chart2-btn-maximize" class="btn" title="Ativar/Desativar Tela Cheia">
            <i class="glyphicon glyphicon-resize-full"></i>
        </div>
      </div>
      <div ng-if="load == 'false'" google-chart chart="chart5" style="{{chart5.cssStyle}}"/></div>
      <div ng-if="load == 'true'" style="height:210px; width:679px;display:inline-block; margin:0px 10px 0px 10px; text-align:center;"/>
        <img src="img/spinner.gif"> Por favor, aguarde.
      </div>
    </div> -->
  </div>
</div>